---
---

// start content
@charset "UTF-8";


//@import "mobirise-icons.css";
@import "tether.min.css";
//@import "bootstrap.min.css";
@import "bootstrap-grid.min.css";
@import "dropdown_style.css";
@import "bootstrap-reboot.min.css";
@import "progress.min.css";
@import "styles.css";
@import "theme_style.css";
@import "mbr-additional.css";


.count_icon{
  font-size: 80px;
  color: #149dcc;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  margin-bottom: 10px;
}

.count2_icon{
  font-size: 80px;
  line-height: 1em;
  color: #149dcc;
  margin-right: 15px;
}

.icon{
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}

#svg_footer{
  fill: #fff;
  width: 300px;
  height: 75px;
  margin-top: -35px;
}

#svg_top{
  fill:#FFF;
}

.nav_icon {
  font-size: 25px;
}

#photo
{
  //height: 450px;
  width: 400px;
  position:absolute;
  bottom:0;
  right: 1px;
}

.myphoto.pl-lg-5{
  height: 380px;
  text-align: left;
  width: 35%;
}