body {
  background-color: #ebf1ff;
}
body {
  font-family: Roboto Flex;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 5rem;
  line-height: 88px;
  letter-spacing: -0.01em;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 3.125rem;
  line-height: 1.16;
  letter-spacing: -0.01em;
}
.display-2 > .mbr-iconfont {
  font-size: 3.90625rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.015em;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.2rem;
  line-height: 1.228;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.56rem;
  line-height: 34px;
}
.display-7 > .mbr-iconfont {
  font-size: 1.95rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.5rem;
    font-size: calc( 1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.248rem;
    font-size: calc( 1.196rem + (1.56 - 1.196) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.196rem + (1.56 - 1.196) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 30px;
}
.bg-primary {
  background-color: #2a8aca !important;
}
.bg-success {
  background-color: #56caf1 !important;
}
.bg-info {
  background-color: #18cef2 !important;
}
.bg-warning {
  background-color: #ffc20b !important;
}
.bg-danger {
  background-color: #db2f40 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #2a8aca !important;
  border-color: #2a8aca !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #1b5982 !important;
  border-color: #1b5982 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b5982 !important;
  border-color: #1b5982 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #2a8aca !important;
  border-color: #2a8aca !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #1b5982 !important;
  border-color: #1b5982 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1b5982 !important;
  border-color: #1b5982 !important;
}
.btn-info,
.btn-info:active {
  background-color: #18cef2 !important;
  border-color: #18cef2 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0a8faa !important;
  border-color: #0a8faa !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0a8faa !important;
  border-color: #0a8faa !important;
}
.btn-success,
.btn-success:active {
  background-color: #56caf1 !important;
  border-color: #56caf1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #12abde !important;
  border-color: #12abde !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #12abde !important;
  border-color: #12abde !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc20b !important;
  border-color: #ffc20b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b38600 !important;
  border-color: #b38600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #b38600 !important;
  border-color: #b38600 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #db2f40 !important;
  border-color: #db2f40 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #991a27 !important;
  border-color: #991a27 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #991a27 !important;
  border-color: #991a27 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2a8aca;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #1b5982 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2a8aca !important;
  border-color: #2a8aca !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2a8aca;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #1b5982 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2a8aca !important;
  border-color: #2a8aca !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #18cef2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0a8faa !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #18cef2 !important;
  border-color: #18cef2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #56caf1;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12abde !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #56caf1 !important;
  border-color: #56caf1 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffc20b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b38600 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffc20b !important;
  border-color: #ffc20b !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #db2f40;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #991a27 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #db2f40 !important;
  border-color: #db2f40 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #2a8aca !important;
}
.text-secondary {
  color: #2a8aca !important;
}
.text-success {
  color: #56caf1 !important;
}
.text-info {
  color: #18cef2 !important;
}
.text-warning {
  color: #ffc20b !important;
}
.text-danger {
  color: #db2f40 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #185076 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #185076 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #11a0d0 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #09839b !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a47b00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #8c1824 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #2a8aca;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #18cef2;
}
.alert-warning {
  background-color: #ffc20b;
}
.alert-danger {
  background-color: #db2f40;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2a8aca;
  border-color: #2a8aca;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #2a8aca;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #cce4f4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d9f7fd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff5d7;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f9dde0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.015em;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #2a8aca !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.015em;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #2a8aca;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2a8aca;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #2a8aca;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #2a8aca;
  border-bottom-color: #2a8aca;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #2a8aca !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #2a8aca !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%232a8aca' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  box-shadow: none;
  border: none;
  padding: 14px 30px 14px;
}
.mbr-section-btn .btn:hover .mbr-iconfont,
.mbr-section-btn-main .btn:hover .mbr-iconfont {
  transform: translateX(5px);
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  margin-left: 14px;
  transform: translateX(0);
  transition: all 0.3s ease-out;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline {
  border: 1px solid #2a8aca !important;
}
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn-main .btn-primary-outline:hover {
  color: #2a8aca !important;
}
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline {
  border: 1px solid #2a8aca !important;
}
.mbr-section-btn .btn-secondary-outline:hover,
.mbr-section-btn-main .btn-secondary-outline:hover {
  color: #2a8aca !important;
}
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline {
  border: 1px solid #56caf1 !important;
}
.mbr-section-btn .btn-success-outline:hover,
.mbr-section-btn-main .btn-success-outline:hover {
  color: #56caf1 !important;
}
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline {
  border: 1px solid #18cef2 !important;
}
.mbr-section-btn .btn-info-outline:hover,
.mbr-section-btn-main .btn-info-outline:hover {
  color: #18cef2 !important;
}
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline {
  border: 1px solid #ffc20b !important;
}
.mbr-section-btn .btn-warning-outline:hover,
.mbr-section-btn-main .btn-warning-outline:hover {
  color: #ffc20b !important;
}
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline {
  border: 1px solid #db2f40 !important;
}
.mbr-section-btn .btn-danger-outline:hover,
.mbr-section-btn-main .btn-danger-outline:hover {
  color: #db2f40 !important;
}
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline {
  border: 1px solid #000000 !important;
}
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn-main .btn-black-outline:hover {
  color: #000000 !important;
}
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline {
  border: 1px solid #ffffff !important;
}
.mbr-section-btn .btn-white-outline:hover,
.mbr-section-btn-main .btn-white-outline:hover {
  color: #ffffff !important;
}
.cid-uuKvHLdExM .navbar-dropdown {
  background-color: #ffffff !important;
  padding: 0;
}
.cid-uuKvHLdExM .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #ffffff !important;
  background: #ffffff;
}
.cid-uuKvHLdExM .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-uuKvHLdExM .menu_box .navbar.opened,
  .cid-uuKvHLdExM .menu_box .navbar-collapse {
    background-color: #ffffff !important;
    transition: all 0s ease 0s;
  }
}
.cid-uuKvHLdExM .navbar-dropdown {
  position: relative !important;
}
.cid-uuKvHLdExM .icons-menu-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-uuKvHLdExM .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
    display: flex;
  }
}
.cid-uuKvHLdExM .mbr-section-btn-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-uuKvHLdExM .mbr-section-btn-main {
    margin-top: 1rem;
    display: block;
  }
}
.cid-uuKvHLdExM .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-uuKvHLdExM .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-uuKvHLdExM .offcanvas {
    padding: 12rem 80px 0;
    width: 40%;
    background-color: #f9f9f9;
  }
  .cid-uuKvHLdExM .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-uuKvHLdExM .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-uuKvHLdExM .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-uuKvHLdExM .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-uuKvHLdExM .offcanvas-body .mbr-text,
  .cid-uuKvHLdExM .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 20px;
  }
  .cid-uuKvHLdExM .offcanvas-body .offcanvas_contact {
    margin: 22px 0;
  }
  .cid-uuKvHLdExM .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-uuKvHLdExM .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
  }
  .cid-uuKvHLdExM .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-uuKvHLdExM .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-uuKvHLdExM .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-uuKvHLdExM .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-uuKvHLdExM ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-uuKvHLdExM .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uuKvHLdExM .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 0.5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-uuKvHLdExM .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-uuKvHLdExM li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-uuKvHLdExM .lg_brand {
    margin: 0 1rem;
  }
  .cid-uuKvHLdExM .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: nowrap;
  }
}
.cid-uuKvHLdExM .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-uuKvHLdExM .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-uuKvHLdExM .nav-item {
    margin: 0 !important;
  }
}
.cid-uuKvHLdExM .nav-item .nav-link {
  position: relative;
}
.cid-uuKvHLdExM .nav-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #2a8aca;
  transition: all 0.3s ease-out;
}
.cid-uuKvHLdExM .nav-item .nav-link:hover::after {
  width: 100%;
}
.cid-uuKvHLdExM .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-uuKvHLdExM .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-uuKvHLdExM .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-uuKvHLdExM .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uuKvHLdExM .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 0.5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-uuKvHLdExM .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-uuKvHLdExM .offcanvas_box {
    display: none;
  }
}
.cid-uuKvHLdExM .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-uuKvHLdExM .nav-dropdown .link {
  font-weight: 300 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-uuKvHLdExM .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-uuKvHLdExM .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-uuKvHLdExM .container {
    flex-wrap: nowrap;
  }
}
.cid-uuKvHLdExM .iconfont-wrapper {
  color: #000000;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-uuKvHLdExM .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-uuKvHLdExM .iconfont-wrapper:hover {
  opacity: 0.5;
}
.cid-uuKvHLdExM .navbar-caption {
  color: #000000;
}
.cid-uuKvHLdExM .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-uuKvHLdExM .navbar-nav {
    margin: 0;
  }
}
.cid-uuKvHLdExM .dropdown-menu,
.cid-uuKvHLdExM .navbar.opened {
  background-color: false !important;
}
.cid-uuKvHLdExM .nav-item:focus,
.cid-uuKvHLdExM .nav-link:focus {
  outline: none;
}
.cid-uuKvHLdExM .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uuKvHLdExM .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uuKvHLdExM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uuKvHLdExM .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uuKvHLdExM .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uuKvHLdExM .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uuKvHLdExM .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLdExM .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-uuKvHLdExM .navbar.opened {
  transition: all 0.3s;
}
.cid-uuKvHLdExM .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-uuKvHLdExM .navbar .navbar-logo img {
  max-width: 200px;
  max-height: 130px;
  object-fit: contain;
}
.cid-uuKvHLdExM .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-uuKvHLdExM .navbar.collapsed {
  justify-content: center;
}
.cid-uuKvHLdExM .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uuKvHLdExM .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uuKvHLdExM .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uuKvHLdExM .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uuKvHLdExM .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uuKvHLdExM .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-uuKvHLdExM .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uuKvHLdExM .navbar .nav-item {
    padding: 0.5rem 0;
  }
  .cid-uuKvHLdExM .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-uuKvHLdExM .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uuKvHLdExM .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uuKvHLdExM .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-uuKvHLdExM .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uuKvHLdExM .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-uuKvHLdExM .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uuKvHLdExM .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-uuKvHLdExM .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-uuKvHLdExM .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-uuKvHLdExM .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-uuKvHLdExM .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uuKvHLdExM .navbar .icons-menu {
    padding: 0;
  }
}
.cid-uuKvHLdExM .navbar.navbar-short {
  min-height: 60px;
}
.cid-uuKvHLdExM .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uuKvHLdExM .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uuKvHLdExM .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uuKvHLdExM .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 700;
}
.cid-uuKvHLdExM .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uuKvHLdExM .dropdown-item.active,
.cid-uuKvHLdExM .dropdown-item:active {
  background-color: transparent;
}
.cid-uuKvHLdExM .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uuKvHLdExM .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uuKvHLdExM .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uuKvHLdExM .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uuKvHLdExM ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-uuKvHLdExM .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uuKvHLdExM button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #ffffff;
  background: #56caf1;
}
.cid-uuKvHLdExM button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uuKvHLdExM button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uuKvHLdExM button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uuKvHLdExM button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uuKvHLdExM button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uuKvHLdExM nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uuKvHLdExM nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uuKvHLdExM nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uuKvHLdExM nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uuKvHLdExM a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-uuKvHLdExM .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uuKvHLdExM .navbar {
    height: 70px;
  }
  .cid-uuKvHLdExM .navbar.opened {
    height: auto;
  }
  .cid-uuKvHLdExM .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uuKvHLdExM .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
.cid-uuKvHLdExM .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-uuKvHLdExM .mbr-section-btn-main .btn {
  margin: 0 4px 4px 4px;
}
@media (max-width: 992px) {
  .cid-uuKvHLdExM .mbr-section-btn-main .btn {
    margin: 0 16px 4px;
  }
}
.cid-uuKvHLdExM .navbar-caption:hover {
  color: #2a8aca;
}
@media (min-width: 992px) {
  .cid-uuKvHLdExM .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-uuKvHLdExM .text_widget {
  margin-bottom: 20px;
  color: #000000;
}
.cid-uuKvHLdExM .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-uuKvHLdExM .text_widget a:hover {
  color: #2a8aca !important;
}
.cid-uuKvHLdExM .mbr-section-subtitle {
  color: #000000;
  text-align: left;
}
.cid-uuKvHLdExM .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-uuKvHLdExM .mbr-section-subtitle,
.cid-uuKvHLdExM .text_widget,
.cid-uuKvHLdExM .mbr-section-btn {
  text-align: left;
}
.cid-uuKvHLdExM a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-uuKvHLh0tg {
  padding-top: 0rem;
  padding-bottom: 7rem;
  background-image: url("../../../assets/images/mbr-1920x1440.webp");
}
.cid-uuKvHLh0tg .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLh0tg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuKvHLh0tg .container-fluid {
  padding: 0 60px;
}
@media (max-width: 992px) {
  .cid-uuKvHLh0tg .container-fluid {
    padding: 0 30px;
  }
}
.cid-uuKvHLh0tg .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLh0tg .container {
    padding: 0 30px;
  }
}
.cid-uuKvHLh0tg .title-wrapper {
  margin-top: 20%;
  padding: 0 8%;
}
@media (max-width: 992px) {
  .cid-uuKvHLh0tg .title-wrapper {
    margin-top: 0;
    padding: 0;
  }
}
.cid-uuKvHLh0tg .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
.cid-uuKvHLh0tg .title-wrapper .mbr-text {
  margin-bottom: 22px;
}
.cid-uuKvHLh0tg .mbr-section-title {
  color: #ffffff;
}
.cid-uuKvHLh0tg .mbr-text {
  color: #ffffff;
}
.cid-uuKvHLhBOY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-uuKvHLhBOY .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLhBOY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuKvHLhBOY .container-fluid {
  padding: 0 60px;
}
@media (max-width: 992px) {
  .cid-uuKvHLhBOY .container-fluid {
    padding: 0 30px;
  }
}
.cid-uuKvHLhBOY .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLhBOY .container {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  .cid-uuKvHLhBOY .subtitle-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uuKvHLhBOY .subtitle-wrapper .mbr-section-subtitle {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 14px;
  position: relative;
}
.cid-uuKvHLhBOY .subtitle-wrapper .mbr-section-subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000;
}
.cid-uuKvHLhBOY .title-wrapper {
  position: relative;
}
@media (max-width: 992px) {
  .cid-uuKvHLhBOY .title-wrapper {
    margin-top: 0;
    padding: 0;
  }
}
.cid-uuKvHLhBOY .title-wrapper .mbr-section-title {
  margin-bottom: 16px;
  position: relative;
}
.cid-uuKvHLhBOY .title-wrapper .mbr-name {
  margin-bottom: 0;
  position: relative;
}
.cid-uuKvHLhBOY .title-wrapper::before {
  content: '';
  position: absolute;
  right: 10rem;
  bottom: -20rem;
  transform: rotate(45deg);
  display: block;
  width: 500px;
  height: 250px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #f9f9f9;
}
@media (max-width: 992px) {
  .cid-uuKvHLhBOY .title-wrapper::before {
    display: none;
  }
}
.cid-uuKvHLhBOY .mbr-section-subtitle {
  color: #000000;
}
.cid-uuKvHLhBOY .mbr-section-title {
  color: #000000;
}
.cid-uuKvHLhBOY .mbr-name {
  color: #000000;
}
.cid-uuKvHLhBOY .mbr-role {
  color: #a8a8a8;
}
.cid-uuKvHLiM41 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-uuKvHLiM41 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLiM41 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLiM41 .container {
    padding: 0 30px;
  }
}
.cid-uuKvHLiM41 .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uuKvHLiM41 .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-uuKvHLk2HP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: transparent;
}
.cid-uuKvHLk2HP .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLk2HP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLk2HP .container {
    padding: 0 30px;
  }
}
.cid-uuKvHLk2HP .row {
  justify-content: center;
}
.cid-uuKvHLk2HP .title-wrapper {
  margin-bottom: 140px;
}
.cid-uuKvHLk2HP .title-wrapper .mbr-section-title {
  margin-bottom: 20px;
}
.cid-uuKvHLk2HP .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uuKvHLk2HP .card:nth-child(3n) .card-wrapper {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLk2HP .card:nth-child(3n) .card-wrapper {
    margin: 50px 0 50px;
  }
}
.cid-uuKvHLk2HP .card .card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4px;
  padding: 45px 36px 66px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: visible;
}
@media (max-width: 992px) {
  .cid-uuKvHLk2HP .card .card-wrapper {
    margin: 0 0 50px;
    padding: 45px 22px 66px;
  }
}
.cid-uuKvHLk2HP .card .card-wrapper .best-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3.4rem;
  left: 0;
  width: 100%;
  min-height: 54px;
  background-color: #56caf1;
  padding: 18px 8px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cid-uuKvHLk2HP .card .card-wrapper .best-wrap .best-wrapper {
  width: 100%;
}
.cid-uuKvHLk2HP .card .card-wrapper .best-wrap .best-wrapper .mbr-best {
  margin-bottom: 0;
}
.cid-uuKvHLk2HP .card .card-wrapper .card-content .mbr-card-title {
  margin: 25px 0;
}
.cid-uuKvHLk2HP .card .card-wrapper .card-content .price-wrap .mbr-price {
  margin-bottom: 25px;
  position: relative;
  display: inline-flex;
}
.cid-uuKvHLk2HP .card .card-wrapper .card-content .price-wrap .mbr-price span {
  position: absolute;
  font-size: 50%;
  top: 0.4rem;
  left: -2rem;
}
.cid-uuKvHLk2HP .card .card-wrapper .card-content .mbr-desc {
  margin-bottom: 25px;
}
.cid-uuKvHLk2HP .card .card-wrapper .card-content .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.cid-uuKvHLk2HP .card .card-wrapper .card-content .list .item-wrap {
  line-height: 1.625;
  margin-bottom: 10px;
}
.cid-uuKvHLk2HP .card .card-wrapper .mbr-section-btn {
  margin-top: 18px;
}
.cid-uuKvHLk2HP .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uuKvHLk2HP .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-uuKvHLk2HP .mbr-best {
  color: #FFFFFF;
  text-align: center;
}
.cid-uuKvHLk2HP .mbr-card-title {
  color: #000000;
}
.cid-uuKvHLk2HP .mbr-price,
.cid-uuKvHLk2HP .price-wrap {
  color: #000000;
  text-align: center;
}
.cid-uuKvHLk2HP .mbr-desc {
  color: #000000;
  text-align: center;
}
.cid-uuKvHLk2HP .list {
  color: #000000;
  text-align: center;
}
.cid-uuKvHLk2HP .mbr-card-title,
.cid-uuKvHLk2HP .mbr-section-btn {
  text-align: center;
}
.cid-uuLmF9XKi6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #f9f9f9;
}
.cid-uuLmF9XKi6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuLmF9XKi6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuLmF9XKi6 .container-fluid {
  padding: 0 60px;
}
@media (max-width: 992px) {
  .cid-uuLmF9XKi6 .container-fluid {
    padding: 0 30px;
  }
}
.cid-uuLmF9XKi6 .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uuLmF9XKi6 .container {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  .cid-uuLmF9XKi6 .subtitle-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uuLmF9XKi6 .subtitle-wrapper .mbr-section-subtitle {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 14px;
  position: relative;
}
.cid-uuLmF9XKi6 .subtitle-wrapper .mbr-section-subtitle::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000;
}
.cid-uuLmF9XKi6 .title-wrapper {
  position: relative;
}
@media (max-width: 992px) {
  .cid-uuLmF9XKi6 .title-wrapper {
    margin-top: 0;
    padding: 0;
  }
}
.cid-uuLmF9XKi6 .title-wrapper .mbr-section-title {
  margin-bottom: 16px;
  position: relative;
}
.cid-uuLmF9XKi6 .title-wrapper .mbr-name {
  margin-bottom: 0;
  position: relative;
}
.cid-uuLmF9XKi6 .title-wrapper::before {
  content: '';
  position: absolute;
  right: 10rem;
  bottom: -20rem;
  transform: rotate(45deg);
  display: block;
  width: 500px;
  height: 250px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #f9f9f9;
}
@media (max-width: 992px) {
  .cid-uuLmF9XKi6 .title-wrapper::before {
    display: none;
  }
}
.cid-uuLmF9XKi6 .mbr-section-subtitle {
  color: #000000;
}
.cid-uuLmF9XKi6 .mbr-section-title {
  color: #000000;
}
.cid-uuLmF9XKi6 .mbr-name {
  color: #a8a8a8;
}
.cid-uuLfmvoiLt {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-uuLfmvoiLt .mbr-section-subtitle {
  color: #767676;
}
.cid-uuLfmvoiLt .container-table {
  margin: 0 auto;
}
.cid-uuLfmvoiLt .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-uuLfmvoiLt .dataTables_wrapper {
  display: block;
}
.cid-uuLfmvoiLt .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-uuLfmvoiLt table {
  width: 100% !important;
  margin-top: 6px;
  margin-bottom: 0;
}
.cid-uuLfmvoiLt table th {
  border-top: 1px solid #cccccc;
  transition: all .2s;
  border-bottom: none;
}
.cid-uuLfmvoiLt table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-uuLfmvoiLt table td {
  border-top: 1px solid #cccccc;
}
.cid-uuLfmvoiLt table td:hover {
  color: #2a8aca;
}
.cid-uuLfmvoiLt table tr:last-child td {
  border-bottom: 1px solid #cccccc;
}
.cid-uuLfmvoiLt .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-uuLfmvoiLt .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-uuLfmvoiLt .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-uuLfmvoiLt .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-uuLfmvoiLt .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-uuLfmvoiLt .dataTables_filter {
    text-align: center;
  }
  .cid-uuLfmvoiLt .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-uuLfmvoiLt .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuLfmvoiLt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuLfmvoiLt .body-item {
  text-align: right;
  color: #1c1c1c;
}
.cid-uuLfmvoiLt .head-item {
  text-align: right;
  color: #2a8aca;
}
.cid-uuKvHLxobZ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ebf1ff;
}
.cid-uuKvHLxobZ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLxobZ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuKvHLxobZ .container-fluid {
  padding: 0 60px;
}
@media (max-width: 992px) {
  .cid-uuKvHLxobZ .container-fluid {
    padding: 0 30px;
  }
}
.cid-uuKvHLxobZ .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLxobZ .container {
    padding: 0 30px;
  }
}
.cid-uuKvHLxobZ .card {
  margin-bottom: 64px;
}
.cid-uuKvHLxobZ .card .card-wrapper {
  display: flex;
  margin-right: 110px;
}
@media (max-width: 1400px) {
  .cid-uuKvHLxobZ .card .card-wrapper {
    margin-right: 30px;
  }
}
@media (max-width: 992px) {
  .cid-uuKvHLxobZ .card .card-wrapper {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .cid-uuKvHLxobZ .card .card-wrapper {
    display: block;
  }
}
.cid-uuKvHLxobZ .card .card-wrapper .mbr-iconfont {
  font-size: 75px;
  margin-right: 28px;
  color: #a8a8a8;
}
@media (max-width: 768px) {
  .cid-uuKvHLxobZ .card .card-wrapper .mbr-iconfont {
    margin-bottom: 16px;
    display: block;
  }
}
.cid-uuKvHLxobZ .card .card-wrapper .card-content .mbr-section-title {
  margin-bottom: 16px;
}
.cid-uuKvHLxobZ .card .card-wrapper .card-content .mbr-text {
  line-height: 1.625;
  margin-bottom: 0;
}
.cid-uuKvHLxobZ .mbr-section-title {
  color: #000000;
}
.cid-uuKvHLxobZ .mbr-text {
  color: #000000;
}
.cid-uuKvHLz6iA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f9f9f9;
}
.cid-uuKvHLz6iA .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLz6iA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLz6iA .container {
    padding: 0 30px;
  }
}
.cid-uuKvHLz6iA .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uuKvHLz6iA .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-uuKvHLoTg6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: transparent;
}
.cid-uuKvHLoTg6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLoTg6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuKvHLoTg6 .container-fluid {
  padding: 0 60px;
}
@media (max-width: 992px) {
  .cid-uuKvHLoTg6 .container-fluid {
    padding: 0 30px;
  }
}
.cid-uuKvHLoTg6 .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLoTg6 .container {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  .cid-uuKvHLoTg6 .title-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uuKvHLoTg6 .title-wrapper .mbr-section-title {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 14px;
  position: relative;
}
.cid-uuKvHLoTg6 .title-wrapper .mbr-section-title::before {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000;
}
.cid-uuKvHLoTg6 .panel-group {
  padding: 60px 80px;
  border-radius: 10px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .cid-uuKvHLoTg6 .panel-group {
    padding: 60px 30px;
  }
}
@media (max-width: 425px) {
  .cid-uuKvHLoTg6 .panel-group {
    padding: 60px 16px;
  }
}
.cid-uuKvHLoTg6 .panel-group .card {
  border-bottom: 1px solid #000000;
  border-radius: 0;
}
.cid-uuKvHLoTg6 .panel-group .card .card-header {
  padding: 22px 0;
  background-color: transparent;
  border: none;
}
.cid-uuKvHLoTg6 .panel-group .card .card-header .panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
}
.cid-uuKvHLoTg6 .panel-group .card .card-header .panel-title .panel-title-edit {
  margin-bottom: 0;
}
.cid-uuKvHLoTg6 .panel-group .card .card-header .panel-title .mbr-iconfont {
  margin-left: 10px;
  font-size: 22px;
  transition: all 0.3s ease-out;
}
.cid-uuKvHLoTg6 .panel-group .card .card-header .panel-title:not(.collapsed) .mbr-iconfont {
  color: #3772ff;
  transform: rotate(90deg);
}
.cid-uuKvHLoTg6 .panel-group .card .panel-collapse .panel-body {
  padding-bottom: 50px;
}
.cid-uuKvHLoTg6 .panel-group .card .panel-collapse .panel-body .panel-text {
  line-height: 1.625;
  margin-bottom: 0;
}
.cid-uuKvHLoTg6 .mbr-section-title {
  color: #000000;
}
.cid-uuKvHLoTg6 .panel-title-edit,
.cid-uuKvHLoTg6 .mbr-iconfont {
  color: #000000;
}
.cid-uuKvHLoTg6 .panel-text {
  color: #000000;
}
.cid-uuMqj4PRWk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uuMqj4PRWk .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuMqj4PRWk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uuMqj4PRWk .container {
    padding: 0 25px;
  }
}
.cid-uuMqj4PRWk .row {
  justify-content: center;
}
.cid-uuMqj4PRWk .row .card {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-uuMqj4PRWk .image-wrapper {
    margin-bottom: 20px;
  }
}
.cid-uuMqj4PRWk .image-wrapper img {
  height: 550px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uuMqj4PRWk .image-wrapper img {
    height: 350px;
  }
}
.cid-uuMqj4PRWk .form-wrapper {
  padding-left: 54px;
}
@media (max-width: 992px) {
  .cid-uuMqj4PRWk .form-wrapper {
    padding: 0 12px;
  }
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row {
  margin: 0;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .mbr-section-title {
  margin-bottom: 20px !important;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .mbr-text {
  margin-bottom: 20px !important;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group {
  margin-bottom: 20px !important;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group .form-control {
  background-color: transparent;
  padding: 12px 0;
  box-shadow: none;
  border: none !important;
  border-bottom: 2px solid #e1e1e1 !important;
  border-radius: 0 !important;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group .form-control::placeholder {
  color: #e1e1e1;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group .form-control:hover,
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group .form-control:focus {
  box-shadow: none;
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group textarea {
  min-height: 124px;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group .form-check {
  padding-left: 2.1em;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .form-group .form-check .form-check-input {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}
.cid-uuMqj4PRWk .form-wrapper .dragArea.row .mbr-section-btn {
  width: 100%;
}
.cid-uuMqj4PRWk .mbr-section-title {
  color: #000000;
}
.cid-uuMqj4PRWk .mbr-text {
  color: #000000;
}
.cid-uuMqj4PRWk label {
  color: #000000;
}
.cid-uuKvHLDOwa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #000000;
}
.cid-uuKvHLDOwa .mbr-fallback-image.disabled {
  display: none;
}
.cid-uuKvHLDOwa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uuKvHLDOwa .container-fluid {
  padding: 0 60px;
}
@media (max-width: 992px) {
  .cid-uuKvHLDOwa .container-fluid {
    padding: 0 30px;
  }
}
.cid-uuKvHLDOwa .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-uuKvHLDOwa .container {
    padding: 0 30px;
  }
}
.cid-uuKvHLDOwa .title-wrapper .mbr-section-title {
  margin-bottom: 85px;
}
.cid-uuKvHLDOwa .contacts-wrapper,
.cid-uuKvHLDOwa .list-wrapper,
.cid-uuKvHLDOwa .soc-wrapper {
  width: fit-content;
  border-top: 1px solid #3772ff;
  padding-top: 16px;
}
.cid-uuKvHLDOwa .mbr-section-subtitle {
  margin-bottom: 10px;
  color: #ffffff;
}
.cid-uuKvHLDOwa .list {
  margin: 0;
  padding: 0 0 50px 0;
  list-style-type: none;
  color: #b1b0b5;
}
.cid-uuKvHLDOwa .list .item-wrap {
  margin-bottom: 6px;
  position: relative;
  line-height: 1.625;
}
.cid-uuKvHLDOwa .list .item-wrap:hover {
  color: #3772ff;
}
.cid-uuKvHLDOwa .list .item-wrap:hover::before {
  width: 100%;
}
.cid-uuKvHLDOwa .list .item-wrap::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #3772ff;
  transition: all 0.3s ease-out;
}
.cid-uuKvHLDOwa .contacts-wrapper .list .item-wrap {
  margin-bottom: 10px;
}
.cid-uuKvHLDOwa .copyright {
  padding: 10px 0;
  margin: 60px 0 0;
  color: #b1b0b5;
}
.cid-uuKvHLDOwa .mbr-section-title {
  color: #ffffff;
}
