<section class="counters1 counters cid-r2BnDceEkw" id="datacenters">
    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Datacenters</h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">Ook met betrekking tot de locatie waar onze servers moeten staan is gekozen voor de allerhoogste kwaliteit en waarborgen. Het ISO-gecertificeerde datacentrum van BIT in Ede kon aan onze hoge eisen met betrekking tot (brand)beveiliging, koeling, (groene) stroomvoorziening etc. voldoen. Naast de locatie Ede is er een 2e serverlocatie in Dronten. Door data op 2 geografisch gescheiden plaatsen te bewaren zijn je gegevens altijd veilig!</h3>

        <div class="container pt-4 mt-2">
            <div class="media-container-row">
                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont fas fa-tree"></span>
                        </div>

                        <div class="card-text">
                            <h3 class="pt-3 pb-3 mbr-fonts-style display-2">
                                <span class="count">100</span>%
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Groene stroom en ISO</h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Onze platformen draaien op groene stroom en zijn voorzien van ISO certificaten.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont fas fa-chart-line"></span>
                        </div>
                        <div class="card-text">
                            <h3 class="pt-3 pb-3 mbr-fonts-style display-2">
                                <span class="count">100</span>%
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Vernieuwen iedere dag</h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Wij willen altijd voorop lopen en innoveren daarom elke dag. Nieuwe software wordt vliegensvlug uitgerold.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card p-3 align-center col-12 col-md-6 col-lg-4">
                    <div class="panel-item p-3">
                        <div class="card-img pb-3">
                            <span class="mbr-iconfont fas fa-rocket"></span>
                        </div>
                        <div class="card-text">
                            <h3 class="pt-3 pb-3 mbr-fonts-style display-2">
                                <span class="count">100</span>%
                            </h3>
                            <h4 class="mbr-content-title mbr-bold mbr-fonts-style display-7">Kwaliteit ten top</h4>
                            <p class="mbr-content-text mbr-fonts-style display-7">
                                Daarom maken wij enkel gebruik van de best beoordeelde apparatuur, netwerken en datacenters.
                            </p>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>