<section once="" class="cid-r2BlGXbcAK" id="footer7-9">

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">

                    <li class="foot-menu-item mbr-fonts-style display-7">
                        <a class="text-white mbr-bold" href="#doel" target="_blank">Over Doel</a>
                    </li><li class="foot-menu-item mbr-fonts-style display-7">
                    <a class="text-white mbr-bold" href="#datacenters" target="_blank">Onze datacenters</a>
                </li><li class="foot-menu-item mbr-fonts-style display-7">
                    <a class="text-white mbr-bold" href="#prijzen" target="_blank">Onze prijzen</a>
                </li><li class="foot-menu-item mbr-fonts-style display-7">
                    <a class="text-white mbr-bold" href="#contact" target="_blank">Contact met ons</a>
                </li><li class="foot-menu-item mbr-fonts-style display-7">
                    <a class="text-white mbr-bold" href="#overons" target="_blank">Over ons</a>
                </li></ul>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright {{ "now" | date: "%Y" }} TS Intermedia</p>
            </div>
        </div>
    </div>
</section>