<section class="progress-bars2 cid-r2BoFW0Mvi" id="Infrastructuur">

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
            Infrastructuur TS Intermedia</h2>

        <h3 class="mbr-section-subtitle mbr-fonts-style display-5">
            De snelheid van je site begint met de kwaliteit van de infrastructuur.&nbsp;</h3>

        <div class="row pt-5 mt-5">
            <div class="col-md-6 text-elements">
                <h4 class="section-content-title pb-3 align-left mbr-fonts-style display-5">
                    Gewoon goeie servers!</h4>
                <p class="section-content-text align-left mbr-fonts-style display-7">
                    Alle apparatuur die TS Intermedia gebruikt is van de hoogste kwaliteit. Daarbij wordt het serverbeheer uitgevoerd en gemonitord door een team van zeer professionele systeembeheerders. In de afgelopen jaren heeft TS Intermedia en het team systeembeheerders een enorme ervaring opgebouwd zodat geen probleem ons onbekend zal zijn en je er op kunt vertrouwen dat je data nergens anders beter staat dan op de servers van TS Intermedia. Daarbij maken we gebruik van een volledig BGP-netwerk, met transit- en peering-providers zodat we altijd voor de kortste routes naar alle plekken in de wereld hebben.
                </p>
            </div>
            <div class="progress_elements col-md-6">
                <div class="progress1 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Hoogste kwaliteit</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary " max="100" value="100">
                    </progress>
                </div>

                <div class="progress2 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Professionaliteit</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="100">
                    </progress>
                </div>

                <div class="progress3 pb-5">
                    <div class="title-wrap">
                        <div class="progressbar-title mbr-fonts-style display-7">
                            <p>
                                Snelste route</p>
                        </div>
                        <div class="progress_value mbr-fonts-style display-7">
                            <div class="progressbar-number">
                            </div>
                            <span>%</span>
                        </div>
                    </div>
                    <progress class="progress progress-primary" max="100" value="100">
                    </progress>
                </div>




            </div>
        </div>
    </div>
</section>