<section class="header1 cid-r2Bl2RIco2 mbr-parallax-background" id="header1-0">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
                    TS Intermedia</h1>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">
                    Professionele, snelle en goedkope webhosting</h3>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                    Professionele webhosting voor iedereen toegankelijk. Goed, snel en betaalbaar dat is waar TS Intermedia voor staat.
                </p>

            </div>
        </div>
    </div>
</section>