<section class="mbr-section article content9 cid-r2Bo4DlZLP" id="content9-c">
    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-5">
                TS Intermedia bestaat sinds 1996 en biedt al meer dan 20 jaar professionele hosting voor een no-nonsense prijs!</div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>