<section class="features7 cid-r2Cql05hs2" id="features7-i">

    <div class="container">
        <div class="row justify-content-center">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media">
                    <div class="card-img pr-2">
                        <span class="mbr-iconfont fas fa-rocket"></span>
                    </div>
                    <div class="card-box media-body">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">Sublieme laad tijd</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Jouw websites op ons platform zullen sneller zijn dan iedere andere website op het internet!</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media">
                    <div class="card-img pr-2">
                        <span class="mbr-iconfont fas fa-concierge-bell"></span>
                    </div>
                    <div class="card-box media-body">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">Uitmuntende service</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Geen ticket systeem, geen&nbsp;<br>forums waarop je moet <br>kijken. Je kan gewoon bellen.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media">
                    <div class="card-img pr-2">
                        <span class="mbr-iconfont fas fa-cloud"></span>
                    </div>
                    <div class="media-body card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">Altijd goede backups</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Heb je een oeps momentje? Don't worry, wij hebben de backups klaar staan!</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>