@font-face {
   font-family: 'Montserrat-Regular';
   font-display: swap;
   src: url('file:///Users/theovandersluijs/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2024-11-21_093845/fonts/Montserrat-Regular/font.ttf');
}
